body{
  margin: 0;
text-align: center;
  font-family: monospace;
  background-color: #ECB365;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color:#112B3C;
  border-width:4px;
  width:60%;
}
