body{
  margin: 0;
text-align: center;
  font-family: monospace;
  background-color: #FFC947;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color:#112B3C;
  border-width:4px;
  width:60%;
}

h1 {
  margin-top: 0;
  color: #082032;
}

h2 {
  color: #082032;
}

h3 {
  color: #082032;
}

p {
  color: #082032;
}
